/* 0. Base (Resets - Normalize) */
@import 'base';

/* 0.5. Iconos */
$iconos-sprite-dimensions: true;
$iconos-spacing: 10px;
@import "iconos/*.png";
@include all-iconos-sprites;
.icono {
    display: inline-block;
    vertical-align: middle;
}

body {
    background: #f8f8f8;
    color: #5d5d5d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.contenedor {
    @include container;
    @include at-breakpoint($break) {
        @include set-container-width;
    }
}
/* 1. Header */
.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 20px;
    clear: both;
    li {
        @include inline-block;
        a {
            color: #5f5f5f;
            text-decoration: none;
        }
    }
}
/* 2. Simulacion */
@import 'simulacion';

/* 3. Testimonio */
@import 'testimonio';

/* 4. FAQ */
@import 'faq';